.Dictionary {
  padding: 0;
  margin: 0;
  color: #333;
}
.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.Dictionary section {
  background: #f6f7f3;
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.Dictionary input {
  color: #333;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0px 7px;
  outline-color: #555;
}

.Dictionary .hint {
  font-size: 13px;
  margin-top: 4px;
}

.Dictionary .but {
  font-size: 14px;
}
