.Dictionary {
  padding: 0;
  margin: 0;
  color: #333;
}
.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.Dictionary section {
  background: #f6f7f3;
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.Dictionary input {
  color: #333;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0px 7px;
  outline-color: #555;
}

.Dictionary .hint {
  font-size: 13px;
  margin-top: 4px;
}

.Dictionary .but {
  font-size: 14px;
}

@media (max-width: 420px) {
  .Dictionary .but {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .Dictionary .srch {
    max-width: 225px;
  }
  .Dictionary .but {
    font-size: 9px;
    padding: 6px 6px;
  }
  .Dictionary .hint {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .Dictionary section {
    padding: 20px 25px;
  }
  .Dictionary .srch {
    max-width: 200px;
  }
  .Dictionary .but {
    font-size: 9px;
    padding: 6px 6px;
  }
  .Dictionary .hint {
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  .Dictionary input {
    padding: 3px 10px;
  }
  .Dictionary .srch {
    max-width: 165px;
  }
  .Dictionary .but {
    font-size: 9px;
    padding: 3px 6px;
  }
  .Dictionary .hint {
    font-size: 9px;
  }
}

@media (max-width: 300px) {
  .Dictionary section {
    padding: 15px 15px;
  }
  .Dictionary input {
    padding: 3px 10px;
  }
  .Dictionary .srch {
    max-width: 150px;
  }
  .Dictionary .but {
    font-size: 8px;
    padding: 3px 6px;
  }
  .Dictionary .hint {
    font-size: 8px;
  }
}
